body {
  background-color: azure;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: darkcyan;
}
header {
  margin-bottom: 30px;
}

form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}
.instructions {
  padding: 16px;
  border: 1px grey;
  width: 80%;
  font-size: 16px;
  border-radius: 10px;
  line-height: 20px;
}
.submit-button {
  margin-left: 10px;
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 1.5;
  border-left: 3px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
