body {
  background-color: azure;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: darkcyan;
}
header {
  margin-bottom: 30px;
}

.form-container {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 20px;
  color: grey;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 7px;
  margin-left: 5px;
  opacity: 0.8;
}

form {
  display: flex;
}
.instructions {
  padding: 16px;
  border: 1px grey;
  width: 80%;
  font-size: 16px;
  border-radius: 10px;
  line-height: 20px;
}
.submit-button {
  margin-left: 10px;
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
}

.hidden {
  display: none;
}

#poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 1.5;
  border-left: 3px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}

@keyframes blink {
  30% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
